header.header
  .header__inner.site-container
    .header__top
      .header__logo
        a(href="#")
          picture
            source(srcset="./img/STOPNarco.webp" type="image/webp")
            source(srcset="./img/STOPNarco.png" type="image/png")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

      .header__phone
        a(href="tel:88129944682") 8 (812) 99-44-682
        a(href="tel:88005051335") 8 (800) 505-13-35

      .header__btn
        a(href="#" data-modal-class="callback").site-btn Обратный звонок

      .header__menu-btn.tablet
        a(href="#")


    .header__bottom
      ul.header__menu
        li.header__menu-item.has-submenu-first
          a(href='#').header__menu-link Алкоголизм
          ul.header__submenu
            li.header__submenu-item.has-submenu
              a(href="#").header__submenu-link.header__submenu-link-style Лечение алкоголизма
              ul.header__submenu2
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение детского
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Хронический алкоголизм
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение пивного
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение подростков
            li.header__submenu-item.has-submenu
              a(href="#").header__submenu-link.header__submenu-link-style Вывод из запоя
              ul.header__submenu2
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style В стационаре
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style На дому
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Капельница от похмелья
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение запоя
            li.header__submenu-item.has-submenu
              a(href="#").header__submenu-link.header__submenu-link-style Кодирование от алкоголизма
              ul.header__submenu2
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Вшивание ампулы
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Вшивание Эспераль
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Кодировка в МСК на дому
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Детоксикация
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Женский алкоголизм
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Нарколог на дом
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Амбулаторное лечение
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Старческий алкоголизм

        li.header__menu-item.has-submenu-first
          a(href='#').header__menu-link Наркомания
          ul.header__submenu
            li.header__submenu-item.has-submenu
              a(href="#").header__submenu-link.header__submenu-link-style Лечение наркомании
              ul.header__submenu2
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Аптечные наркотики
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение от амфетамина
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение от спайса
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение подростков
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение от солей
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение от героина
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Лечение от метадона
                li.header__submenu2-item
                  a(href="#").header__submenu-link.header__submenu-link-style Наркотик Лирика

            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Снятие ломки
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Наркологическая помощь на дому
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Детоксикация наркозависимых
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style УБОД
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Подшивка от наркомании
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Тестирование на наркотики
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Кодирование


        li.header__menu-item.has-submenu-first
          a(href='#').header__menu-link Реабилитация
          ul.header__submenu
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Реабилитация наркозависимых
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Реабилитация алкоголиков
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Ресоциализация наркозависимых
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Лечение игромании

        li.header__menu-item
          a(href='#').header__menu-link Филиалы
        li.header__menu-item
          a(href='#').header__menu-link Цены
        li.header__menu-item.has-submenu-first
          a(href='#').header__menu-link Родителям
          ul.header__submenu
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Мотивация на лечение
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Виды наркотиков
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Признаки употребления наркотиков
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Новости

        li.header__menu-item.has-submenu-first
          a(href='#').header__menu-link О нас
          ul.header__submenu
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Книга Бабаскина Е.П: «Героин на всю жизнь»
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Врачи
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Отзывы
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Фотографии
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Лицензии, сертификаты, дипломы
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Наркологический стационар
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Наркологический диспансер
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Услуги нарколога
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Наши гарантии
            li.header__submenu-item
              a(href="#").header__submenu-link.header__submenu-link-style Консультация нарколога

        li.header__menu-item
          a(href='#').header__menu-link Контакты


































