extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/about-romb-2.webp"
  //data-img="./img/about-romb-2.png"
  //data-webp-mobile='./img/about-romb-mob.webp'
  //data-img-mobile='./img/about-romb-mob.png')

  //picture
  //    source(srcset="./img/logo.webp" type="image/webp")
  //    source(srcset="./img/logo.jpg" type="image/png")
  //    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap



